body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.container {
	max-width: 1170px;
	margin: auto;
	width: 100%;
}

.header{
	background-color: red
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	width: 200px;
}

.header__nav ul {
	display: flex;
	list-style: none;
	gap: 20px;

}

.header__nav-item a {
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	transition: color 0.5s
}

.header__nav-item a:hover {
	color: purple;
}

.main {
	padding: 20px 0;
}

.main__wrapper {
	display: flex;
	gap: 1%;
}

.content, .sidebar {
	border: 2px solid red;
	padding: 8px;
}

.content {
	width: 69%
}

.sidebar {
	width: 30%
}

.article__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: black;
	transition: transform .3s;
}

.sidebar img {
	width: 100%;
}

.article__wrapper:hover img {
	transform: scale(1.1);
}

footer {
	background-color: red;
	padding: 20px;
	text-align: center;
	color: white;
}